@font-face {
    font-family: 'Lolapeluza';
    src: url('../../assets/fonts/Lolapeluza-Regular.eot');
    src: url('../../assets/fonts/Lolapeluza-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Lolapeluza-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Lolapeluza-Regular.woff') format('woff'),
        url('../../assets/fonts/Lolapeluza-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

