@font-face {
    font-family: 'Jost';
    src: url('../../assets/fonts/Jost-Regular/Jost-Regular.eot');
    src: url('../../assets/fonts/Jost-Regular/Jost-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Jost-Regular/Jost-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Jost-Regular/Jost-Regular.woff') format('woff'),
    url('../../assets/fonts/Jost-Regular/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

