.footer {
    margin: $footer__margin;
    padding: $footer__padding;

    text-align: center;

    color: $footer__font-color;
    background: $footer__background-color;

    &-icons {
        .social-icons {
            a {
                font-size: $footer__icon__font-size;

                display: inline-block;

                margin-right: $footer__icon__margin-right;
                padding: 5px 0;

                transition: 100ms;
                vertical-align: middle;
                text-decoration: none;


                .icon {
                    display: block;

                    color: $footer__icon__font-color;
                }

                &:hover {
                    font-size: $footer__icon__font-size--hover;

                    margin-right: 6px;
                    padding: 0;

                    .icon {
                        color: $footer__icon__font-color--hover;
                    }
                }

                &:active {
                    .icon {
                        color: $footer__icon__font-color--active;
                    }
                }
            }
        }
    }


    p {
        margin-top: 0;
    }
}