.footer {
    margin: $footer__margin;
    padding: $footer__padding;

    text-align: center;

    color: $footer__font-color;
    background: $footer__background-color;

    &-icons {
        .social-icons {

            a {
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                display: inline-block;

                margin: $footer__icon__margin;

                text-decoration: none;
                height: $footer__icon__height;
                width: $footer__icon__width;
                line-height: $footer__icon__height;

                .icon {
                    display: inline-block;
                    transition: 100ms;
                    font-size: $footer__icon__font-size;

                    color: $footer__icon__font-color;
                    vertical-align: middle;
                }

                &:hover {
                    .icon {
                        font-size: $footer__icon__font-size--hover;
                        color: $footer__icon__font-color--hover;
                    }
                }

                &:active {
                    .icon {
                        color: $footer__icon__font-color--active;
                    }
                }
            }
        }
    }


    p {
        margin-top: 0;
    }
}