.header {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    margin: 0 auto;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

    color: #fff;

    .logo {
        overflow: hidden;

        width: 250px;
        height: 250px;
        margin: 0 auto;

        border-radius: 50%;
        background-color: $logo__background-color;

        img {
            display: block;

            width: 100%;
            height: 100%;
            padding: $logo__img__padding;
        }

        @media only screen and (min-width: $cut) {
            width: $logo__width;
            height: $logo__height;
        }
    }

    h1 {
        padding-top: 0;
    }

    .site-title {
        font-family: $header__site-title__font-family;
        
        font-weight: $header__site-title__font-weight;
        font-style: $header__site-title__font-style;
        line-height: 1;

        display: block;

        text-transform: lowercase;

        color: $header__site-title__font-color;

        @media only screen and (min-width: $cut) {
            

            margin: 0;

            .site-title-ru {
                font-size: $header__site-title-ru__font-size;
            }
            .site-title-eng{
                font-size: $header__site-title-eng__font-size;
            }
        }

        &-ru {
            font-size: $header__site-title-ru__font-size--small-screen;

            display: none;

            color: $accent-bright;
        }

        &-eng{
            font-size: $header__site-title-eng__font-size--small-screen;
        }

        &:hover {
            .site-title-eng {
                display: none;
            }

            .site-title-ru {
                display: inline-block;
            }
        }
    }

    .site-description {
        font-size: 13px;
        font-weight: 100;
        line-height: 1;

        display: block;

        margin-top: 10px;

        color: #fff;

        @media only screen and (min-width: $cut) {
            font-size: 24px;
        }
    }
}

.header-links {
    margin: 30px 10px;

    .link {
        font-size: 15px;

        margin: 10px;

        text-decoration: none;

        color: #fff;

        @media only screen and (min-width: $cut) {
            font-size: 20px;
        }
    }
}


.down {
    font-size: 30px;

    position: absolute;
    bottom: 25px;

    display: block;

    width: 100%;
    margin: 0 auto;

    cursor: pointer;
    text-align: center;


    .icon {
        position: absolute;
        top: 50%;
        left: 50%;

        width: $header__down-arrow__icon__width;
        height: $header__down-arrow__icon__height;

        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-animation: pulse 1.3s infinite;
        animation: pulse 1.3s infinite;

        color: $header__down-arrow__font-color;

        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        fill: #fff;

        &:hover {
            color: #fff;
        }

        &:active {
            opacity: 1;
            color: $sec;
        }
    }
}