#particles-js
{
    display: flex;

    width: 100%;
    min-height: 100vh;

    vertical-align: bottom;

    background: $particles-js__background-color;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .particles-js-canvas-el
    {
        width: 100% !important;
        height: 100vh !important;
    }
}
