#skills {
    .icons-list {
        h3 {
            text-align: center;

        }

        .icon {
            font-size: 80px;

            display: block;

            text-align: center;
            margin-top: 40px;
        }
    }
}