#skills {
    .skills-list {
        .skill {
            h3 {
                text-align: center;
            }

            .icon {
                font-size: $skill__icon__font-size;

                display: block;

                margin-top: $skill__icon__margin-top;

                text-align: center;
            }

            &:hover {
                h3 {
                    color: $skill__icon__title__font-color--hover;
                }

                .icon {
                    @extend .icon:hover;
                }
            }
        }
    }
}