<h1>Обо мне</h1>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-12 col-lg-3 ">
            <div class="img-me-wrapper">
                <img src="assets/img/me.jpg" alt="Рудольф Александрович">
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="content-me-wrapper">
                <p>Ладнер Рудольф Александрович. 26 лет. Овен. Не женат. Без в/п, со своей ж/п, никаких ДТП.</p>
                <p>Высшее педагогическое образование по специальности учитель информатики и английского языка. Имею ряд научных публикаций, участвовал в российских и международных конференциях, проходил курсы повышения квалификации и тому подобные научные заслуги. Работал в образовательных учреждениях от детского сада и школы до университета. Последнему отдал три года своей жизни в статусе преподавателя. Создатель авторской методики Mighty English и школы английского языка с соответствующим названием.</p>
            </div>
        </div>
    </div>
</div>
<h1>О курсе</h1>
<p>Курс предусматривает обучение непосредственно говорению, то есть умению применять язык на практике. В то же самое время не забываем про грамматику и словарный запас. В общем, все гармонично, но основа - говорение.</p>
<p>Занятия бывают индивидуальные и групповые.</p>
<p>Данный курс позволяет изучающим овладеть основными и продвинутыми знаниями в области английского языка. Курс затрагивает все виды речевой деятельности: говорение, письмо, чтение и аудирование. Наибольший упор делается именно на практической части языковой компетенции, а именно - говорении. По наблюдению автора именно с говорением связано большинство затруднений в освоении английского языка.</p>
<p>Формат курса можно описать как смесь классического грамматического и коммуникативного подходов. Это значит, что в рамках курса предусмотрены занятия грамматикой в рамках лекционного материала, а закрепление и применение знаний будут проводиться в формате коммуникации: игр, обсуждений, просмотров и прослушиваний медийных материалов. Такой формат направлен на быстрейшее закрепление и моментальное применение полученных знаний в живой игровой среде с отвлечением студента от необходимости постоянно следить за тем, чтобы не ошибиться, в сторону переноса внимания на ситуацию в диалоге, игре и т.п.</p>
<p>Курс рассчитан на аудиторию в возрасте от старшего школьного и выше.</p>
<p>Уровень языка обущающихся может быть любым. Для достижения наилучших результатов рекомендуется разделить студентов на группы с двумя уровнями: начинающие и продолжающие. Различие уровней у студентов одной группы особой роли не играет и легко достигается практикой говорения друг с другом и преподавателем. Иными словами, если студенты в одной группе где-то чуть лучше или чуть хуже знают язык, то они довольно быстро догонят друг друга, показывая друг другу пример и постоянно практикуясь. </p>
<p>Наполненность курса для разных групп в принципе одна и та же, за исключением того, что какие-то темы для студентов продолжающей группы будут уже известны и лекционный материал будет носить характер напоминания и углубления знаний.</p>
<p>В рамках курса предусмотрены домашние задания. В основу домашних заданий ложится понимание лекционного материала и умение его применять. То есть, если студент освоил те или иные аспекты языка, то нет решительно никакой необходимости выполнять домашнее задание для галочки из серии "напишите 30 предложений с этими словами". Вместо этого студенту будет предложено освоить следующую или сопряженную тему.</p>