<section>
    <h2>Обо мне</h2>
    <div class="img-me-wrapper">
        <img src="assets/img/me.jpg" alt="Рудольф Александрович">
    </div>
    <div class="content-me-wrapper">
        <p>Добрый день, я - Рудольф Александрович.</p>
        <p>Преподаватель английского языка.</p>
        <p>Высшее педагогическое образование по специальности учитель информатики и английского языка.</p>
        <p>Профессиональную научную деятельность веду с 2013 года.</p>
        <p>Из них два года учительствовал в школе.</p>
        <p>После завершения обучения еще три года отдал университету в статусе преподавателя.</p>
        <p> Никогда не верил в бумаги и сертификаты, но если вам это важно, то имею ряд научных публикаций, методических пособий, участвовал в российских и международных научных конференциях, имею за плечами курсы повышения квалификации и прочие академические заслуги.</p>
        <p>Основная сфера научной деятельности - сопоставительная и когнитивная лингвистика.</p>
        <p>Создатель авторской методики Mighty English и одноименной школы английского языка.</p>
    </div>
</section>
<section>
    <h2>О курсе</h2>
    <p>Курс предусматривает овладение полным спектром языковых компетенций с упором на говорение.</p>
    <p>Главной целью является научение применять язык на практике.</p>
    <p>Позволяет изучающим овладеть продвинутыми знаниями в области английского языка.
        Курс затрагивает все виды речевой деятельности: говорение, аудирование, письмо и чтение.
        Наибольший упор делается именно на практической части языковой компетенции, а именно - говорении и аудировании.
        По наблюдению автора именно с говорением связано большинство затруднений в освоении английского языка.</p>
    <p>Формат курса можно описать как смесь классического грамматического и коммуникативного подходов.
        Это значит, что в рамках курса предусмотрены занятия грамматикой в рамках лекционного материала, закрепление и применение знаний в формате коммуникации: игр, обсуждений, медийных материалов.
        Такой формат направлен на быстрейшее закрепление и моментальное применение полученных знаний в живой языковой среде с отвлечением студента от необходимости постоянно судорожно следить за тем, чтобы не ошибиться, в сторону переноса внимания на ситуацию в диалоге или игре.
    </p>
    <p> Курс рассчитан на аудиторию в возрасте от старшего школьного и выше.
        Уровень языка обущающихся при этом может быть любым, решающими факторами являются именно осознанность намерений в силу возраста и мотивация.
    </p>
    <p>Для групповых занятий рекомендавано разделение на уверенный и неуверенный уровни.
        Подобное разделение продиктовано не только уровнем подготовки у учащихся, но и их психологическими особенностями личности.
    </p>
    <p> Различие уровней у студентов одной группы особой роли не играет и легко достигается практикой говорения друг с другом и преподавателем.
        Иными словами, если студенты в одной группе где-то чуть лучше или чуть хуже знают язык, то они довольно быстро догонят друг друга, показывая пример, соревнуясь и постоянно практикуясь.
    </p>
    <p> Помимо распланированной программы обучения преподаватель полностью готов к любому виду импровизации в работе.
        Наполненность курса определяется исходя из пробелов в знаниях учащихся и меняется в зависимости от необходимости и интересов.
        Иными словами, если учащемуся интересен или непонятен тот или иной аспект, то занятие моментально реорганизуется с целью дать ему исчерпывающие знания.
    </p>
    <p>В рамках курса предусмотрены домашние задания.
        В основу домашних заданий ложится понимание лекционного материала и умение его применять.
        Все домашние задания творческие, мозг запоминает только связные, необходимые для достижения речевых целей конструкции.
        То есть, если студент освоил те или иные аспекты языка, то нет решительно никакой необходимости выполнять домашнее задание для галочки из серии "напишите 30 предложений с этими словами".
      </p>
</section>