<h1>Спишемся?</h1>
<form method="POST" action={{site.form_post_link}}>
    <input type="text" name="name" placeholder="Как к вам обращаться*" required>
    <input type="email" name="email" placeholder="Ваш email*" required>
    <input type="text" name="subject" placeholder="Тема*" required>
    <textarea name="message" placeholder="Ваш месседж*" required></textarea>
    <input type="tel" name="tel" placeholder="Ваш номер телефона">
    <p class="hint">* Звездочкой отмечены обязательные поля</p>
    <button type="submit">Отправить</button>
</form>