<div id="particles-js">
  <div class="header">
    <div class="logo">
      <img src="assets/img/logo.jpg" >
    </div>
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <!--div class="header-icons">
      
      </div-->
      <div class="header-links">
       <!--  <a class="link btn" target="_blank" href={{site.resume_link}} aria-hidden="true">Скачать резюме&nbsp;<i class="icon fas fa-file-download"></i></a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
