<div id="particles-js">
    <div class="header">
        <div class="logo">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="flip-card-img-wrapper">
                            <img src="assets/img/logo.jpg" alt=""></div>
                    </div>
                    <div class="flip-card-back">
                        <div class="flip-card-img-wrapper"><img src="assets/img/me-none-bg.png" alt="Рудольф Александрович"></div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="site-title">
            {{site.header_title_eng}}
        </h1>
        <span class="site-description">{{site.header_title_descr}}</span>
        <!--div class="header-icons">
      
      </div-->
        <div class="header-links">
            <!--  <a class="link btn" target="_blank" href={{site.resume_link}} aria-hidden="true">Скачать резюме&nbsp;<i class="icon fas fa-file-download"></i></a> -->
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>