<div class="bootstrap-wrapper">
    <div class="skills-list row">
        <div class="skill col-sm-12 col-md-6 ">
            <div class="skill-logo-wrapper"><i class="icon fas fa-calendar-alt"></i></div>
            <h3>План занятия</h3>
            <div class="skill-content">
                <p>Занятие длится один час тридцать минут.</p>
                <p>Максимально на английском языке.</p>
                <p>Если вас это отпугивает, то расслабьтесь.</p>
                <p>Вспомните, вы хотели научиться говорить на языке, давайте говорить.</p>
                <p>Вы увидите, вам понравится.</p>
                <p>Каждое занятие разделено на три основных блока по тридцать минут.</p>
                <p>Длительность блоков может варьироваться по усмотрению преподавателя и студентов в целях оптимизации образовательного процесса.</p>
            </div>
        </div>
        <div class="skill col-sm-12 col-md-6 ">
            <div class="skill-logo-wrapper"><i class="icon fas fa-pen-alt"></i></div>
            <h3>Актуализация уже полученных знаний</h3>
            <div class="skill-content">
                <p>Студенты сами рассказывают то, чему они научились: формулируют правила, приводят примеры, исключения, обнаруживают знание новой лексики, задают вопросы.
                </p>
                <p>Актуализация по возможности ведется на английском языке.</p>
                <p>Для студентов уверенной группы это обязательное условие. Таким образом, занятие начинается с непосредственного включения студентов в языковую среду, дает понимание использования грамматических терминов на изучаемом языке, готовит студента к получению нового материала.</p>
                <p>Бытовой разговор, общение, обмен новостями, обзор домашнего задания и вопросы по пройденному материалу.</p>
                <p>Проверка домашнего задания представляет собой возможность понять насколько успешно студентами был освоен предыдущий материал, путем краткого его повторения с модерацией со стороны преподавателя.
                </p>
            </div>
        </div>
        <div class="skill col-sm-12 col-md-6 ">
            <div class="skill-logo-wrapper">
                <i class="icon fas fa-graduation-cap"></i>
            </div>
            <h3>Освоение нового материала</h3>
            <div class="skill-content">
                <p>Логическое продолжение обучения.</p>
                <p>Все секреты методики ждут вас именно ждесь.</p>
                <p>В рамках этого блока студенты знакомятся с последующими темами, расширяют словарный запас за счет ввода новых терминов и общей лексики, получают дополнения к уже изученному матералу, получают историческую справку об особенностях разития изучаемого языка, этимологии слов, проводят параллели между родным и изучаемым языками.
                </p>
            </div>
        </div>
        <div class="skill col-sm-12 col-md-6 ">
            <div class="skill-logo-wrapper"><i class="icon fas fa-brain"></i></div>
            <h3>Практика</h3>
            <div class="skill-content">
                <p>Активность, предусматривающая использование языка в игровой или любой другой ролевой модели.</p>
                <p>Здесь происходит основное пополнение запаса лексики и выражений, напрямую связанных с контекстом использования.</p>
                <p>В этой части занятия предусмотрено применение материала в живой среде, знакомство с устойчивыми выражениями и иными аспектами языка, путем практики говорения.
                </p>
                <p>В основном это игры разной направленности.</p>
                <p>Игра - это очень мощный механизм для освоения иностранного языка.</p>
                <p>Игра может в легкой и непринужденной форме перенести группу в любую ситуацию, научить не бояться ошибиться, смоделировать диалог на любую тему.
                </p>
                <p>Преподаватель модерирует игру: объясняет правила и следит за их соблюдением, комментирует языковые аспекты, вводит новую лексику.
                </p>
            </div>
        </div>
        <div class="skill col-sm-12">
            <div class="skill-logo-wrapper"><i class="icon fas fa-book-reader"></i></div>
            <h3>Рассматриваемые темы</h3>
            <p>Нынче это называется чек-лист.</p>
            <p>Далее будут приведены только основные крупные блоки, которые включат в себя всю грамматику английского языка. Подробное расписывание всех тем займет не одну страницу:
            </p>
            <ul>
                <li>Буквы и звуки</li>
                <li>Части речи</li>
                <li>Род</li>
                <li>Число</li>
                <li>Лицо</li>
                <li>Падежи</li>
                <li>Члены предложения</li>
                <li>Порядок слов</li>
                <li>Словообразование одних частей речи в другие</li>
                <li>Формы глагола</li>
                <li>Степени сравнения прилагательных</li>
                <li>Времена активного и пассивногог залогов</li>
                <li>Будущее в прошедшем</li>
                <li>Наклонения</li>
                <li>Инверсия. Прямые вопросы</li>
                <li>Косвенные вопросы</li>
                <li>Согласование времен</li>
                <li>Модальные глаголы</li>
                <li>Условные предложения</li>
                <li>Инверсия в условных предложениях</li>
                <li>Пунктуация</li>
                <li>Сленг</li>
                <li>Сложные предложения</li>
            </ul>
        </div>
    </div>
</div>