<div class="bootstrap-wrapper">
    <div class="skills-list row">
        <div class="skill col-sm-12 col-md-6 ">
            <i class="icon fas fa-calendar-alt"></i>
            <h3>План занятия</h3>            
            <p>Занятие длится один час тридцать минут. Каждое занятие разделено на три основных блока по тридцать минут: актуализация полученных знаний (проверка домашнего задания), освоение нового материала, практика. Длительность блоков может варьироваться по усмотрению преподавателя в целях оптимизации образовательного процесса.</p>
        </div>
        <div class="skill col-sm-12 col-md-6 ">
            <i class="icon fas fa-pen-alt"></i>
            <h3>Проверка домашнего задания</h3>
            <p>Проверка домашнего задания представляет собой возможность понять насколько успешно студентами был освоен предыдущий материал, путем краткого его повторения с модерацией со стороны преподавателя. Иными словами, студенты сами рассказывают то, чему они научились: формулируют правила, приводят примеры, исключения, обнаруживают знание новой лексики, задают вопросы. Проверка домашнего задания по возможности будет вестись на английском языке. Для студентов продвинутой группы это обязательное условие. Таким образом, занятие начинается с непосредственного включения студентов в языковую среду, дает понимание использования грамматических терминов на изучаемом языке, актуализирует знания. </p>
        </div>
        <div class="skill col-sm-12 col-md-6 ">
            <i class="icon fas fa-graduation-cap"></i>
            <h3>Освоение нового материала</h3>
            <p>В рамках этого блока студенты снакомятся с последующими темами, расширяют словарный запас за счет ввода новых терминов и общей лексики, получают дополнения к уже изученному матералу, получают историческую справку об особенностях разития изучаемого языка, проводят параллели между родным и изучаемым языками. Этот блок ведется на русском языке для наилучшего усвоения. Для студентов продвитой группы возможно ведение этого блока на английском языке.</p>
        </div>
        <div class="skill col-sm-12 col-md-6 ">
            <i class="icon fas fa-brain"></i>
            <h3>Практика</h3>
            <p>В этой части занятия предусмотрено применение материала в живой среде, пополнение словарного запаса, знакомство с устойчивыми выражениями и иными аспектами языка, путем практики говорения. В основном это игры любой направленности. Автор курса убежден, что игра - это очень
                мощный механизм для освоения иностранного языка. Игра может в легкой и непринужденной форме перенести группу в любую ситуацию, научить не бояться ошибиться, смоделировать диалог на любую тему. Игра ведется преподавателем, но возможен перехват инициативы участниками. Преподаватель модерирует игру: объясняет правила и следит за их соблюдением, комментирует языковые аспекты, вводит новую лексику. </p>
        </div>
        <div class="skill col-sm-12">
            <i class="icon fas fa-book-reader"></i>
            <h3>Рассматриваемые темы</h3>
            <p>Далее будут приведены только основные крупные блоки, которые включат в себя всю грамматику английского языка. Подробное расписание всех тем займет не одну страницу:</p>
            <ul>
                <li>Буквы и звуки</li>
                <li>Порядок слов</li>
                <li>Части речи </li>
                <li>Члены предложения </li>
                <li>Переход одних частей речи в другие </li>
                <li>Род</li>
                <li>Число</li>
                <li>Падежи</li>
                <li>Степени сравнения прилагательных </li>
                <li>Формы глагола</li>
                <li>Времена активного и пассивногог залогов</li>
                <li>Инверсия. Прямые вопросы</li>
                <li>Согласование времен </li>
                <li>Модальные глаголы</li>
                <li>Условные предложения</li>
                <li>Косвенные вопросы Пункткуация</li>
                <li>Сленговые сокращения </li>
                <li>Сложные предложения </li>
                <li>Наклонения</li>
            </ul>
        </div>
    </div>