<div class="social-icons">
    <a aria-label="Send email" href={{ site.social_link__email }}><i class="icon fa fa-envelope"></i></a>
    <a aria-label="My VK" target="_blank" href={{ site.social_link__vk }}><i class="icon fab fa-vk"
            aria-hidden="true"></i></a>
    <a aria-label="My WhatsApp" target="_blank" href={{ site.social_link__whatsapp }}><i class="icon fab fa-whatsapp"
            aria-hidden="true"></i></a>
    <a aria-label="My Instagram" target="_blank" href={{ site.social_link__instagram }}><i class="icon fab fa-instagram"
            aria-hidden="true"></i></a>
</div>