@-webkit-keyframes pulse {
    from {
        top: 0;

        opacity: .5;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
        filter: alpha(opacity=50);
    }

    50% {
        top: -10px;

        opacity: 1;

        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
    }

    to {
        top: 0;

        opacity: .5;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
        filter: alpha(opacity=50);
    }
}