.bold {
    font-weight: 600;

    margin-right: 5px;

    color: $font-color;
}

.clearfix::after {
    display: table;
    clear: both;

    content: '';
}

.img-circle{
    display: block;
    float: left;
    overflow: hidden;

    width: 200px;
    height: 200px;
    margin: 10px 25px;

    border-radius: 50%;

    @media only screen and (max-width: $display-mini__width)
    {
        float: unset;

        margin: 0 auto;
    }
    img
    {
        width: 100%;
        height: auto;
    }
}