<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div id="particles-js">
        <div class="header">
            <div class="logo">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="flip-card-img-wrapper">
                                <img src="assets/img/logo.jpg" alt=""></div>
                        </div>
                        <div class="flip-card-back">
                            <div class="flip-card-img-wrapper"><img src="assets/img/me-none-bg.png" alt="Рудольф Александрович"></div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="site-title">
                {{site.header_title_eng}}
            </h1>
            <span class="site-description">{{site.header_title_descr}}</span>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>
    <div class="content">
        {{ content }}
    </div>
    {% include footer.html %}
</body>